[Unit]
Description=LEMR Meteo Web Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/lemr-meteo
Environment="PATH=/var/www/lemr-meteo/venv/bin"
EnvironmentFile=/var/www/lemr-meteo/.env
ExecStart=/var/www/lemr-meteo/venv/bin/gunicorn --workers 2 --bind ${WEB_HOST}:${WEB_PORT} --timeout 120 --access-logfile - --error-logfile - web_app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
